.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/cypress/integration/examples
/cypress/videos/
/cypress/screenshots/

# Development configuration

src/constants/development/searchBoxDev.const.ts
src/constants/development/searchResultsDev.const.ts
src/constants/development/searchProductListDev.const.ts
src/constants/development/recommendationsDev.const.ts

# Dynamic container css

public/containerStyle.css